/*--IMPORTANT TAGS WILL OVERWRITE BOOTSTRAP STYLES--*/
:root {
    /*--COLORS--*/

    --clr--background: #E8EFF5;

    /*--Cards--*/
    --clr--card--shadow--hover: #CFD6E4;
    /*--Card Buttons--*/
    --clr--btn--txt--hover: white;
    --clr--btn--bg--hover: #64A8EE;
    --clr--btn--shadow--hover: #BAE5FC;

}

/*--X--X--X--X--GLOBAL--X--X--X--X--*/
html,
body {
    /*--Because no one likes vertical scrolling--*/
    max-width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--clr--background);
}


/*--X--X--X--X--CARDS--X--X--X--X--*/
.card img {
    /*--Adding height to images, To unify and maintain layout--*/
    min-height: 5rem;
    height: 10rem;
}

.card-title {
    /*--Ensure same height for single line titles--*/
    min-height: 5rem;
    /*--adding d-flex flex-column justify-content-around does not work for some reason
    Justifying text to be in the middle--*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card {
    /*--Adding responsive width to card--*/
    width: 18rem;
    /*--Rounding card borders--*/
    border-radius: 3%;
    /*--Center cards within container--*/
    margin: 0 auto;
}

.card:hover {
    /*--Slightly Enlarge card--*/
    transform: scale(1.01);
    /*--Add Blurred shadow on card--*/
    box-shadow: 0px 0px 30px var(--clr--card--shadow--hover);
}

.card a.btn {
    /*Add border radius to avoid animation clipping*/
    border-radius: 1.6rem;

}

.card a.btn:hover {
    /*--Add Background color when button is hovered--*/
    color: var(--clr--btn--txt--hover) !important;
    background-color: var(--clr--btn--bg--hover);

    /*--radius for Pill shape--*/
    border-radius: 1.6rem;
    /*--Add Blue shadow blur to button--*/
    box-shadow: 0rem .35rem 1rem var(--clr--btn--shadow--hover) !important;

}

/*--X--X--X--X--MEDIA QUERIES--X--X--X--X--*/
/*--Card Custom CSS - Not found a way in Bootstrap 5--*/
/*--Center content vertically on larger screens--*/
@media only screen and (min-width:768px) {
    .vertical-center {
        /*--Setting fixed height of 100% of the viewport--*/
        min-height: 100vh;
        height: 100vh;
        width: 100vw;
        /*--Adding min-width for children just in case--*/
        min-width: 100vw;
        /*--Turning into flexbox--*/
        display: flex;
        /*--Align in center--*/
        align-items: center;
    }
}

/*--Stop cards from coliding under 1400px screens--*/
@media only screen and (max-width:1400px) and (min-width:992px) {

    /*--Resise container to fill 100%of window no more no less
    remove margin and padding to give room to cards--*/
    .container {
        min-width: 100vw;
        margin: 0%;
        padding: 0%;
    }

    /*--resize cards to prevent overlapping--*/
    .card {
        max-width: 25vw;
    }
}